.App {
  height: inherit;
  width: 59.5rem;
  min-height: 84.2rem;
  padding: 1rem;
  background-color: var(--light-gray);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'contacts work-xp work-xp wor-xp'
    'skills education education education';
}
