.App {
  height: inherit;
  max-width: 500;
  padding: 1rem;
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(20, 1fr);
  background-color: var(--light-gray);
}
