.Contacts {
  grid-area: contacts;
  background-color: var(--light-gray);
}
.Contact__field {
  display: flex;
  padding: 0.5rem 2rem;
}
.Contact__field__img {
  height: 1.4rem;
  margin-right: 1rem;
}
