.Contacts {
  grid-area: contacts;
  color: var(--mid-gray);
  padding: 0 2rem;
}
.Contacts p {
  color: var(--mid-gray);
}
.Contact__field {
  display: flex;
  padding: 0.5rem 0;
}
.Contact__field__img {
  height: 1.4rem;
  margin-right: 1rem;
}
