.Form {
  min-height: 300px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--dark-gray);
  color: var(--light-gray);
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 10;
}
.Form > h2 {
  font-size: 1.8rem;
  padding: 1rem 0 2rem;
  color: var(--blue);
}
.Form__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 1rem;
}
.Form__field > label {
  font-size: 1.4rem;
  margin-right: 2rem;
}
.Form__field > input,
.Form__field > textarea {
  font-size: 1.3rem;
  width: 25rem;
  border: 1px solid var(--blue);
  font-family: inherit;
  padding: 0.9rem 1rem;
  background-color: var(--mid-gray);
  color: white;
  border-radius: 0.1rem;
}
.Form__field > textarea {
  height: 10rem;
}

.Form__field__label {
  font-size: 1.4rem;
  color: #ababab;
}
