.Header {
  width: 100%;
  grid-area: header;
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem 0;
  position: relative;
  min-height: 10rem;
}
.Header__info {
  min-height: 10rem;
  width: 35rem;
}

.Header__name {
  padding-top: 1rem;
  max-width: 50rem;
  text-transform: uppercase;
  font-size: 3rem;
}
.Header__first-name {
  font-weight: 700;
  padding-right: 1rem;
}
.Header__last-name {
  font-weight: 400;
}
.Header__job-position {
  padding-top: 1.2rem;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Header__line {
  display: block;
  margin: 0 2rem;
  flex: 1 auto;
  height: 3px;
  background: var(--blue-gradient);
}
.Header__biography {
  padding-top: 1.2rem;
}
.Header__portrait {
  display: block;
  width: 15rem;
  height: 15rem;
  border-radius: 100px;
  border: 3px solid var(--dark-gray);
  object-fit: cover;
}
