@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Inter', monospace;
  font-weight: 400;
}
:root {
  --dark-gray: #3a393f;
  --light-gray: #dadbdf;
  --font-color: #5f5f61;
  --blue-gradient: linear-gradient(90deg, rgb(4, 68, 77), rgb(70, 217, 236));
  --blue: #248d9b;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  color: var(--font-color);
}
#root {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: var(--blue-gradient);
}

.edit:hover {
  opacity: 0.5;
  cursor: pointer;
}
.btn--delete {
  color: transparent;
}
