@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Inter', monospace;
  font-weight: 400;
}
:root {
  --dark-gray: #3a393f;
  --mid-gray: #4b4a52;
  --light-gray: #dadbdf;
  --font-color: #5f5f61;
  --blue-gradient: linear-gradient(90deg, rgb(4, 68, 77), rgb(70, 217, 236));
  --blue: #248d9b;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray);
}
p {
  color: var(--font-color);
}
h2 {
  font-size: 1.8rem;
}
#root {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: var(--blue-gradient);
}

.edit:hover {
  opacity: 0.5;
  cursor: pointer;
}
.btn {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  border: 1px solid var(--blue);
  background-color: var(--mid-gray);
  padding: 0.3rem;
  font-size: 1.5rem;
  border-radius: 0.1rem;
  color: var(--blue);
  font-weight: 700;
}
.btn--close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.btn--close:hover {
  background: var(--blue);
  color: var(--light-gray);
}

.side-section {
  grid-area: side;
}
.main-section {
  grid-area: main;
}
.description {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
