.Skill {
  /* display: flex;
  justify-content: space-between; */
  position: relative;
}
.Skill__progress-bar {
  border: 1px solid rgb(31, 32, 32);
  background: white;
  height: 1rem;
  width: 10rem;
  border-radius: 0.1rem;
}
.Skill__progress-bar[value]::-moz-progress-bar,
.Skill__progress-bar[value]::-webkit-progress-bar {
  background: var(--blue-gradient);
}
.Skill__btn--delete {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  border: none;
  background: none;
}
