.WorkExperience {
  grid-area: workXp;
  background-color: var(--light-gray);
  width: 100%;
  margin-bottom: 4rem;
}
.Work {
  border-left: 1px dotted black;
  margin-left: 1rem;
  padding: 0 1rem 2rem 2rem;
}
.Work::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: var(--blue);
  position: relative;
  right: 2.5rem;
  top: 1.5rem;
  border-radius: 50rem;
}
