@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/gregnb/react-to-print#page-breaks */
/* @media all {
  .page-break {
    display: none;
  }
} */

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact !important;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
  .print-margin-top {
    margin-top: -20mm;
  }
}

@page {
  size: auto;
  margin: 20mm 0;
}
